# Indicates this is lombok config root directory
config.stopBubbling = true

# Ensures that Jacoco does not include lombok generated code in test coverage reports
# But please double check the actual behavior: https://stackoverflow.com/a/71269156/2032694
lombok.addLombokGeneratedAnnotation = true

# Exception type to return for @NonNull checks
lombok.nonNull.exceptionType = IllegalArgumentException

# Setting to create a fluent API whilst following the java bean specification
lombok.accessors.chain=true
